.habilidade {
  display: flex;
  justify-content: center;
  padding: 50px;
  height: 35rem;
  text-align: center;
 
}

.front, .back, .frame, .design{
  display: block;
  padding: 1rem;
  width: 40rem;
  box-shadow: 2px 2px 5px #03b32e;
  background-color: #1e1e1e75;
  margin: 15px; 
  border-radius: 50px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  padding: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.card-content {
  display: none;
  padding: 16px;
}

.expand-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.expand-btn .icon {
  font-size: 24px;
}
