*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100vh;
    background-image: linear-gradient(rgb(34, 34, 58), #03b32e,#836ca8ad);
}

.container{
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}