* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#4d4b98,#b340e7);
  background-attachment: fixed;  
}

.titulo{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 5vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  padding: 10px;
}





