<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/protflio/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#"><i class="fas fa-home"></i> Home</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#"><i class="fas fa-info-circle"></i> Skill</a></li>
                <li class="nav-item"><a href="#"><i class="fas fa-envelope"></i> Projeto</a></li>
                <li class="nav-item"><a href="#"><i class="fas fa-user"></i> Fatec</a></li>
            </ul>
        </nav>
     </header>
     <main>
        <div class="fatec">
            <div class="sobre">
                <h1 class="titulo">FATEC-JAHU</h1>
                <p>Faculdade de Tecnologia de Jahu – FATEC-JAHU é uma Instituição Pública de Ensino Superior que oferece cursos de graduação para formação de Tecnólogos, visando atender segmentos atuais e emergentes da atividade econômica.</p>
                <p>A Faculdade de Tecnologia de Jahu foi criada pelo Decreto n.º 31.255, de 23 de fevereiro de 1990, retificado por publicação do D.O.E. de 01/03/1990. Pelo Decreto n.º 39.471, de 07 de novembro de 1994, foi dada nova redação a dispositivo que especifica do Decreto 31.255, de 23 de fevereiro de 1990.</p>
            </div>
            <div class="local">
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.038255335341!2d-48.550777990125894!3d-22.314392916881697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c7583ac8032c15%3A0xd3db07d9284a5cb2!2sFaculdade%20de%20Tecnologia%20de%20Jahu!5e0!3m2!1spt-BR!2sbr!4v1683854222557!5m2!1spt-BR!2sbr" frameborder="0"></iframe>

            </div>
        </div>
     </main>
     <footer class="footer">
        <div class="contato">
            <a href=""><img src="/protflio/img/github.png" alt="github"></a>
            <a href=""><img src="/protflio/img/linkedin.png" alt="linkedin"></a>
            <a href=""><img src="/protflio/img/instagram.png" alt="facebook"></a>
            
        </div>
     </footer>    
</body>
</html>